[Unit]
Description=Alfabot Marajoara
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/alfabot-marajoara
EnvironmentFile=/opt/alfabot-marajoara/.env
ExecStart=/opt/alfabot-marajoara/.venv/bin/gunicorn -c deploy/gunicorn.conf.py "alfabot.app:create_app()"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
